.body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    margin-left: 300px;
}
.TK{
    margin-top: -80px;
    margin-left: 330px;
}
#cart{
    width:100px;
    height:50px;
    margin-bottom: -18px;
    margin-left: 40px;
}
#search{
    height: 45px;
    width: 450px;
    font-size: 18px;
    border-radius: 10px;

}
#btntk{
    height: 51px;
    width: 100px;
    border-radius: 10px;
}
#btngh{
    margin-left: 75px;
    width: 100px;
    height: 50px;
}
.logo{
    margin-top: 30px;
}
.menu {
    margin-top: 40px;
    font-size: 30px;
    display: inline-block;
    background-color: #e9e9e9;
    width: 76%;
    text-align: center;
    height: 40px;
    padding-top: 7px;
}
.menu a{
    text-decoration: none;
    text-align: center;
    padding: 14px 8px;
    color: black;
}
.content{
    margin-top: 70px;
    margin-left: 310px;
}
.info{
    margin-left: 65px;
}
.product{
    float: left;
    padding-right: 80px;
}
.specialpro{
    margin-top: 500px;
}
.footer{
    margin-top: 500px;
    margin-left: 300px;
    background-color: #e9e9e9;
    width: 65%;
    height:240px;
}
#name{
    padding-top: 34px;
    padding-left: 28px;
}
.announce{
    padding-top: 1px;
    padding-left: 28px;
}
.network{
    margin-left: 860px;
    margin-top: -190px;
}
#img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}
